<?xml version="1.0"?>

<model>
  <name>Delimiters</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Lucas Gandara</name>
    <email>l.gandara10@uniandes.edu.co</email>
  </author>

  <description>
    Delimiters used for the mainTrack of the ddpg project.
  </description>
</model>
