<?xml version="1.0"?>

<model>
  <name>Main track</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Lucas Gandara</name>
    <email>l.gandara10@uniandes.edu.co</email>
  </author>

  <description>
    Main track used for the ddpg tl tb3 project.
  </description>
</model>
