<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- RVIZ -->
  <arg name="rviz" default="false"/>

  <!-- Side selection and spawn coordinates -->
  <arg name="side" default="right" doc="robot start position [right, left]"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  
  <!-- Default spawn coordinates -->
  <arg name="x_pos" value="0.516246"/>
  <arg name="z_pos" value="0.287165"/>
  
  <!-- Set y position based on side -->
  <arg name="y_pos" value="$(eval '-0.697190' if arg('side') == 'right' else '0.697190')"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find transfer_learning)/worlds/main_track_1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot model as param -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Robot transformations -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find transfer_learning)/rviz/ddpg_tb3.rviz"
    output="log"
    respawn="true"
    if="$(arg rviz)"
  />

</launch>

