<?xml version="1.0"?>

<model>
  <name>main_track_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Lucas Gandara</name>
    <email>l.gandara10@uniandes.edu.co</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    Main track option 1 used to train self-driving model.
  </description>
</model>
